@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(calc(-250px * 7));
   }
}

@keyframes moveLeft {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-50%);
   }
}
