@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.footer {
  border-top: 1px solid #242535;
  padding-top: 64px;
  min-height: 500px;
  background: #141624;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h3,
.footer p,
.footer span,
.footer li {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.footer__top {
  padding: 0 20px;
  width: 1200px;
  height: 254px;
  display: flex;
  justify-content: space-between;
}
.footer__top h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.footer__top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #97989f;
}
.footer__about-us {
  width: 289px;
}
.footer__descr {
  margin-top: 12px;
}
.footer__contact {
  margin-top: 24px;
}
.footer__contact span {
  color: #fff;
  font-weight: 500;
}
.footer__contact a {
  font-weight: 400;
  color: #97989f;
  text-decoration: none;
  transition: 0.3s color;
}
.footer__contact a:hover {
  color: #4b6bfb;
}
.footer__links ul {
  margin-top: 24px;
}
.footer__links li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bababf;
  margin-bottom: 8px;
}
.footer__links li a {
  text-decoration: none;
  color: #bababf;
  transition: 0.3s color;
}
.footer__links li a:hover {
  color: #4b6bfb;
}
.footer__newsletter {
  border-radius: 12px;
  padding: 32px;
  width: 392px;
  height: 254px;
  background: #242535;
  text-align: center;
  position: relative;
}
.footer__newsletter .status-message {
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #242535;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}
.footer__newsletter h3 {
  margin-bottom: 8px;
}
.footer__form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
.footer__input {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #3b3c4a;
  border-radius: 6px;
  padding: 12px 16px;
  width: 320px;
  height: 48px;
  background: #181a2a;
}
.footer__input input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a1a1aa;
  transition: color 0.3s ease;
}
.footer__input:focus {
  border-color: #3b82f6;
}
.footer__input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
}
.footer__input-icon img {
  width: 20px;
  height: 20px;
}
.footer__btn {
  margin-top: 8px;
  background: #4b6bfb;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  width: 320px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer__btn:hover {
  background-color: #2563eb;
}
.footer__bottom {
  border-top: 1px solid #242535;
  margin-top: 64px;
  padding: 32px 20px;
  width: 1200px;
}

@media (max-width: 1200px) {
  .footer__top {
    width: 100%;
  }
  .footer__bottom {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer__about-us {
    width: 235px;
  }
  .footer__newsletter {
    width: 250px;
  }
  .footer__input {
    width: 200px;
  }
  .footer__btn {
    width: 200px;
    padding: 5px 20px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .footer__top p {
    font-size: 14px;
  }
  .footer__about-us {
    width: 150px;
  }
  .footer__links ul {
    margin-top: 15px;
  }
  .footer__links li {
    font-size: 14px;
  }
  .footer__newsletter {
    width: 230px;
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
    padding: 20px;
  }
  .footer__about-us {
    width: 90%;
    text-align: center;
  }
  .footer__links {
    display: none;
  }
  .footer__newsletter {
    width: 90%;
    text-align: center;
  }
  .footer__input {
    width: 80%;
    margin-bottom: 10px;
  }
  .footer__btn {
    width: 80%;
  }
  .footer .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
.status-message {
  margin-top: 10px;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
}
.menu-logo {
  width: 202px;
  height: 64px;
}
.menu-logo a img {
  width: 100%;
}
.menu-wrapper {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}
.menu-list {
  width: 348px;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
}
.menu__item a {
  color: inherit;
  text-decoration: none;
}
.menu__item:hover {
  color: #4b6bfb;
  transform: translateY(-3px);
}
.menu__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #4b6bfb;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.menu__item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.close-menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
.hamburger .hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.hamburger.open .hamburger-line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .hamburger-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px) {
  .menu-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    align-items: center;
  }
  .menu-wrapper.open {
    transform: translateX(0);
  }
  .no-scroll {
    overflow: hidden;
  }
  .menu-list {
    flex-direction: column;
    width: auto;
  }
  .menu__item {
    margin: 16px 0;
  }
  .hamburger {
    display: flex;
  }
  .menu-logo {
    width: 150px;
    height: auto;
  }
}
.menu-search__input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px 8px 8px 16px;
  width: 166px;
  height: 36px;
  background: #242535;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.menu-search__input input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a1a1aa;
  padding-right: 24px;
}
.menu-search__input:focus-within {
  box-shadow: 0 0 10px rgba(75, 107, 251, 0.7);
}
.menu-search__icon {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.menu-search__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.menu-search__icon:hover img {
  transform: scale(1.1);
}
.menu-search__results {
  position: absolute;
  background: #242535;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  width: 166px;
}
.menu-search__results ul li {
  padding: 8px 12px;
}
.menu-search__results ul li a {
  text-decoration: none;
  color: #4b6bfb;
}
.menu-search__empty {
  padding: 8px 12px;
  color: #fff;
}

@media (max-width: 1200px) {
  .menu-search__input {
    width: 200px;
  }
  .menu-search__input input {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .menu-search__input {
    width: 150px;
  }
  .menu-search__input input {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #181a2a;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
.single-note {
  padding: 32px 0 80px 0;
}
.single-note__wrapper {
  width: 800px;
  margin: 0 auto;
}
.single-note__empty {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 32px;
}
.single-note__tag {
  border-radius: 6px;
  padding: 6px 12px;
  width: 225px;
  height: 32px;
  background: #4b6bfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.single-note__title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}
.single-note__author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.single-note__author-avatar {
  border-radius: 28px;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.single-note__author-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #696a75;
  margin-right: 24px;
}
.single-note__author-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696a75;
}
.single-note__img {
  margin-top: 32px;
  border-radius: 12px;
  max-width: 800px;
  max-height: 462px;
  -o-object-fit: cover;
  object-fit: cover;
}
.single-note__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #bababf;
  margin-top: 32px;
}
.single-note__text p {
  margin: 0 0 16px;
}
.single-note__text h2 {
  margin: 0 0 16px;
}

@media (max-width: 992px) {
  .single-note__title {
    font-size: 30px;
  }
  .single-note__wrapper {
    width: 100%;
  }
  .single-note__img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .single-note__title {
    font-size: 27px;
  }
}
@media (max-width: 576px) {
  .single-note__title {
    font-size: 24px;
  }
  .single-note__text {
    font-size: 18px;
  }
} /*# sourceMappingURL=porownanie-metod.css.map */
